.sidebar {
  position: fixed;
  left: -100%;
  background: #fff;
  width: 100%;
  height: 100%;
  border-right: 1px solid #DADFE1;
  overflow: hidden;
  z-index: 999;
}

.sidebar.active {
  left: 0;
}

.sidebar__inner {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  overflow: hidden;
}

.sidebar__tabs {
  flex: 0 0 40px;
  font-size: 0;
  letter-spacing: 0;
}

.sidebar__tab {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
}

.sidebar__tab.m-sidebar__tab_new {
  width: 20%;
  float: right;
}

.sidebar__tab_link {
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  font-weight: 500;
  color: #778594;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.sidebar__tab_link i {
  display: block;
  line-height: 40px;
}

.sidebar__tab_link.m-sidebar__tab_link_new {
  color: #778594;
}

.sidebar__tab_link.m-sidebar__tab_link_new:hover, .sidebar__tab_link.m-sidebar__tab_link_new.active {
  color: #18C942;
  box-shadow: none;
}

.sidebar__tab_link:hover, .sidebar__tab_link.active {
  box-shadow: inset 0 -2px 0 0 #18C942;
}

.sidebar__tab_button {
  color: #778594;
  display: block;
  border: none;
  background-color: white;
  cursor: pointer;
}

.sidebar__tab_button_wrap {
  display: flex;
  flex-direction: column;
}

.sidebar__tab_button i {
  display: block;
  line-height: 40px;
}

.sidebar__tab_button.m-sidebar__tab_link_new {
  color: #778594;
}

.sidebar__tab_button.m-sidebar__tab_link_new:hover, .sidebar__tab_button.m-sidebar__tab_link_new.active {
  color: #18C942;
  box-shadow: none;
}

.sidebar__tab_button:hover, .sidebar__tab_button.active {
  box-shadow: inset 0 -2px 0 0 #18C942;
}