.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 1 660px;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.welcome__message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  text-align: center;
  height: 100%;
  color: #778594;
  user-select: none;
}